

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0%;
}

.Main-section{
    height: 100vh;
    background-image: url(assets/imgs/main.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 1.5)), url("assets/imgs/main.jpg");
                    filter:blur(-3px) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content:  space-between;
    padding: 0px 15px;
    align-items: center;
    height: 100px;   background-color: rgb(46, 42, 42);
    
}
.gray-bg{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content:  space-between;
    padding: 0px 15px;
    align-items: center;
    height: 100px;
    background-color: rgb(46, 42, 42);
}
.top-menu ul{
    display: flex;
    list-style-type: none;
    color: white;
}
.top-menu ul, li{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;

}
.left-menu ul>li:nth-child(1){
    color: #ff214f;
}
#last-menu{
    width: 60px;
    text-align: center;
    margin: 0 20px;
    padding: 10px 45px 15px 10px; 
    background-color: #ff214f;
}
.middle-menu{
    color: #ff214f;
    font-size: 32px;
    font-weight: 700;
    height: 80px;
    margin-bottom: 4%;
    display: flex;
}
.test{
    background-image: url(assets/imgs/logo.svg);
    color: #ff214f;
    background-repeat: no-repeat;
    width: 120px;height: 100px;
    content-visibility: hidden;
}
.test{
    animation: logoanimate 2s ease-out 0s infinite alternate ;
}
/*
.hide{
    display: none;
} */
.Main-header{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    color: white; 
    line-height: 30px;
}
.Main-header h1{
    font-size: 80px;
    font-weight: 700;
}
.Main-header h2{
    font-size: 60px;
    margin-bottom: 10%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 50px;
    padding: 15px 35px;
    background-color: #ff214f;
}
.Description{
    display: flex;
    height: 100vh;
    background-color:#343a40 ;
}
.about{
    width: 50%;
    height: 100vh; 
    color: white;
}
.about img{
    height: 100%;
    width: 100%;
}
.about-text{
   padding-left: 100px;
   padding-top: 100px;
   padding-right: 50px;
   text-align: justify;
   
}
.about-text h1{
    font-size: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,333px);
    grid-template-rows: repeat(4,1fr);
     align-items: center;
     background-color:#343a40 ;
}
.imgs img{
    height: 330px;
    width: 350px;
}
#grid-title{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 50px;
    color: white;
    
}
.booking{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, .8)), url("assets/imgs/book-table-img.jpg");
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
   
}
.common-header{
    text-align: center;
    font-size: 70px;
    color: white;
}
.input-feild
{
    display: flex;
    justify-content: space-around;
    
}
.input-feild input{
width: 250px;
padding: 20px 15px;
margin: 5px 20px;
background-color: transparent;
border: 2px solid white;
font-size: 20px;
}
.booking-feild{
    margin-bottom: 50px;
    text-align: center;
   
}
.event-details{
    margin:0  25px;
    border: 1px solid silver;
}
.event{
    background-color:#343a40 ;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
    align-items: center;

}

.full-width{
    grid-column-start: 1;
    grid-column-end: -1;
}
.event-details img{
    height: 230px;
    width: 100%;
}
.menu-details{
    text-align: center;
    padding: 5px 15px 30px 10px;
    margin-top: 30px;
    color: white;
}
.double-link{
    text-align: center;
    display: flex;
    justify-content: center;
}
.double-link a {
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 60px;
    width: 100px;
}
@keyframes logoanimate {
    0%{
       transform:  translate(-10px) scale(.5) rotate(-10deg); 
       /*  transform: translate(-10px) scale(.5); */
    }
    
    100%{
        transform: translate(10px) scale(1) rotate(380deg);
        /*transform: translate(10px) scale(.75);*/
    }
    
}
.Contact-box{
    height: 450px;
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid silver;
    background-color:#343a40 ;
    display: flex;
}
.location{
    height: 450px;
    width: 50%;
}
.location iframe{
    margin: 0%;
    height: 100%;
    width: 100%;
}
.location > .contact-info{
color: white;
width: 400px;
margin: 50px 60px;
}
.mid-header{
    font-size: 35px;
}
.contact-info img{
    height: 20px;
    padding-top: 10px;
}
.direct-communication{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #343a40;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid silver;
  
}
footer{
    background-color: #343a40;
    text-align: center;
    padding: 60px 20px 10px;
    color: silver;
}
footer span{
    color: #ff214f;
    font-size: 18px;
    font-weight: 700;
}
.round-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid lightgray;
    box-shadow: 3px 5px 8px 5px slategrey;
    margin-left: 160px;
    background-color: #ff214f;

}
.round-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: round 3s ease .5s infinite alternate ;
}
@keyframes round {
    
    0%{
        transform:   scale(.5) ; 
        /*  transform: translate(-10px) scale(.75); */
     }
     
     100%{
         transform:  scale(1) ;
         /*transform: translate(10px) scale(1);*/
     }
}