body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0%;
}

.Main-section{
    height: 100vh;
    background-image: url(assets/imgs/main.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 1.5)), url("assets/imgs/main.jpg");
                    filter:blur(-3px) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content:  space-between;
    padding: 0px 15px;
    align-items: center;
    height: 100px;
    
}
.gray-bg{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content:  space-between;
    padding: 0px 15px;
    align-items: center;
    height: 100px;
    background-color: rgb(46, 42, 42);
}
.top-menu ul{
    display: flex;
    list-style-type: none;
    color: white;
}
.top-menu ul, li{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;

}
.left-menu ul>li:nth-child(1){
    color: #ff214f;
}
#last-menu{
    width: 60px;
    text-align: center;
    margin: 0 20px;
    padding: 10px 45px 15px 10px; 
    background-color: #ff214f;
}
.middle-menu{
    color: #ff214f;
    font-size: 32px;
    font-weight: 700;
    height: 80px;
    margin-bottom: 4%;
}
.test{
    background-image: url(assets/imgs/logo.svg);
    background-repeat: no-repeat;
    width: 120px;height: 100px;
}
.test h1{
    visibility: hidden;
}
/*
.hide{
    display: none;
} */
.Main-header{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    color: white; 
    line-height: 30px;
}
.Main-header h1{
    font-size: 80px;
    font-weight: 700;
}
.Main-header h2{
    font-size: 60px;
    margin-bottom: 10%;
}
.btn{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    width: 50px;
    padding: 15px 35px;
    background-color: #ff214f;
}
.Description{
    display: flex;
    height: 100vh;
    background-color:#343a40 ;
}
.about{
    width: 50%;
    height: 100vh; 
    color: white;
}
.about img{
    height: 100%;
    width: 100%;
}
.about-text{
   padding-left: 100px;
   padding-top: 100px;
   padding-right: 50px;
   text-align: justify;
   
}
.about-text h1{
    font-size: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,333px);
    grid-template-rows: repeat(4,1fr);
     align-items: center;
     background-color:#343a40 ;
}
.imgs img{
    height: 330px;
    width: 350px;
}
#grid-title{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 50px;
    color: white;
    
}
.booking{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, .8)), url("assets/imgs/book-table-img.jpg");
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
   
}
.common-header{
    text-align: center;
    font-size: 70px;
    color: white;
}
.input-feild
{
    display: flex;
    justify-content: space-around;
    
}
.input-feild input{
width: 250px;
padding: 20px 15px;
margin: 5px 20px;
background-color: transparent;
border: 2px solid white;
font-size: 20px;
}
.booking-feild{
    margin-bottom: 50px;
    text-align: center;
   
}
.event-details{
    margin:0  25px;
    border: 1px solid silver;
}
.event{
    background-color:#343a40 ;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: space-around;
    align-items: center;

}

.full-width{
    grid-column-start: 1;
    grid-column-end: -1;
}
.event-details img{
    height: 230px;
    width: 100%;
}
.menu-details{
    text-align: center;
    padding: 5px 15px 30px 10px;
    margin-top: 30px;
    color: white;
}
.double-link{
    text-align: center;
    display: flex;
    justify-content: center;
}
.double-link a {
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 60px;
    width: 100px;
}